* {
    box-sizing: border-box;
}

/* Typography */
html body {
    font-size: .875rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1 h2 h3 {
    font-family: 'Playfair Display', serif;
    font-family: 'Playfair Display';
    font-weight: normal;
    font-style: normal;
}

/*  Color */

html body {
    color: #2d2d2d;
}

h1 h2 h3 h4 h5 h6 {
    color: #e2574c;
}

a:link, a:visited {
    color: #e2574c;
    text-decoration: none;
}

a:hover {
    color:#b64036;
}

button:hover {
    color:#b64036;
}

ul {
    border-color: #d7d7d7;
}

footer  {
    background-color: #242424;
    color: #969696;
}

/* Function  */

html {
scroll-behavior: smooth;
}

/* Aloha Header for 480px */

    .aloha-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        padding: 15px;
    }
    .logo {
        flex-basis: 19%;
        align-self: flex-start;
    }
    
    .logo img {
        flex-basis: 50%;
        max-width: 130px;
        align-self: flex-start;
    }
    .cart-icon {
        align-items: flex-end;
        position: relative;
    }
    
    .cart-icon img {
        max-width: 50px;
    }

    .add-to-cart {
        position: absolute;
        right: 13px;
        top: 13px;

    }

    .add-to-cart button {
        background-color: #e2574c;
        color: #fff;
        text-decoration: none;
        outline: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        
      }
      
      .add-to-cart button:hover {
        opacity:1;
        background-color: #b64036;
        color: #fff;
        text-decoration: none;
    
      }

    .aloha-nav {
        flex-basis: 100%;
        text-align: center;
        justify-content: space-evenly;
        
    }
    .aloha-nav li {
        display: inline-block;
        font-size: 1rem;
        margin: 0 0.93rem;
        text-transform: uppercase;
    
    }
    .aloha-nav ul {
        border-top: .025rem;
        border-color: #d7d7d7;
        border-style: solid;
        padding-top: .3rem;
    
    }
    /*   Aloha Banner for 480px */

    .aloha-banner {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 410px;
        background: 
        linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
        url("images/banner-girl.png")no-repeat center 45px,
        url("images/flower-bkgd.jpg")repeat-x center top;
        background-size: cover, contain, cover;
    }

    .container {
        text-shadow: 3px 3px 5px hsla(0,5%,15%,.8);
    }
    .new-collection {
        color:#fff;
        font-size: 1rem;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 25px;
    }
    .season {
        color:#fff;
        font-size: 2.25rem;
        font-family: 'Playfair Display', serif;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* aloha about session for 480px */

.aloha-about {
    text-align: center;
    padding: 60px;
}

h2 { font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-style: italic;
    
}

span { font-weight: bold;
        font-style: normal;
        margin: 0 15px;
}

.about-header {
    margin: 0;
}

.about-body {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2;
    margin-top: 1.7rem;
}


/* Category Session for 480px */

.products {
    display: flex;
    flex-direction: row;

}

.pro-categories {
    width:100%;
}

.mens {
    height: 250px;
    width: 100vw;
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
    url("images/mens-category.jpg") no-repeat;
    background-size: cover;
    flex-basis: 100%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.mens a {
    color:#fff;
    font-weight: bold;
}

.mens-text:hover {
    color:#f5ebc6;
}

.trendsglasses ul {
    display: flex;
}

.trends {
    height: 250px;
    width:50vw;
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
    url("images/trends-category.jpg") no-repeat;
    background-size: cover;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;

}

.trends a {
    color: #fff;
    font-weight: bold;
}
.trends-text:hover {
    color:#f5ebc6;

}

.glasses {
    height: 250px;
    width:50vw;
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
    url("images/glasses-category.jpg") no-repeat;
    background-size: cover;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.glasses a {
    color: #fff;
    font-weight: bold;
}
.glasses-text:hover {
    color:#f5ebc6;

}

.salebags {
    display: flex;
}

.sale {
    height: 250px;
    width:50vw;
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
    url("images/sale-category.jpg") no-repeat;
    background-size: cover;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;

}

.sale a {
    color: #fff;
    font-weight: bold;
}
.sale-text:hover {
    color:#f5ebc6;

}

.bags {
    height: 250px;
    width:50vw;
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
    url("images/bags-category.jpg") no-repeat;
    background-size: cover;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.bags a {
    color: #fff;
    font-weight: bold;
}
.bags-text:hover {
    color:#f5ebc6;

}

.women {
    height: 250px;
    width: 100vw;
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
    url("images/womens-category.jpg") no-repeat;
    background-size: cover;
    flex-basis: 100%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.women a {
    color: #fff;
    font-weight: bold;
}
.women-text:hover {
    color:#f5ebc6;

}

.loved-product {
    text-align: center;
    padding: 38px;
}

/*  Feature Product for 480px */

.main-carousel {
    margin: 45px;
}

.carousel-cell {
    width: 100%;
    text-align: center;
  }

.feature-image {

    width:100%;
    display:flex;
    justify-content: center;
}

.product-desc {
    font-size: .8rem;
    text-transform: uppercase;
    margin: 18px;
    color: #969696;
}

.carousel-cell h3 {
    font-size: 1.5rem;
    color: #e2574c;
    margin: 18px;
}

.price {
    font-size: 1rem;
    margin: 18px;
    color: #969696;

}

/*  aloha sign-up session for 480px */

.aloha-sign-up {
    height: 380px;
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
    url("images/wave-bkgd.jpg") no-repeat bottom;
    background-size: 100px cover, contain;
    background-position: bottom;
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
}

.sign-up-div {
    padding: 5%;
    margin: 5%;
}

h2 { font-family: 'Playfair Display', serif;
    font-size: 2.2rem;
    font-style: italic;
    
}

.sign-up-header {
    margin: 10px;
    text-align: center;
}

.sign-up-body {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 2;
    font-size: 1.15rem;
    margin-top: 20px;
}

.aloha-subscribe {
    height: 100%;
    width: 100%;
    background-color:#fff;
    border-radius: 27px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-subscribe {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.email {
    font-size: 1rem;
    padding-left: 20px;
    border-radius: 27px;
    border:none;
    outline: none;
    border: none;
    display:flex;
    align-items: flex-start;
    flex-basis: 70%;
    
}

.subcribebtn {
    background-color: #e2574c;
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    margin: 0 100px 0 0;
    border-radius: 27px;
    opacity: 0.9;
    outline: none;
    margin:3px;
    display: flex;
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
    
  }
  
  .subcribebtn:hover {
    opacity:1;
    background-color: #b64036;
    color: #fff;
    text-decoration: none;

  }

/* Page Footer for 480px */

  .site-footer {
    margin-top: 4px;
    padding-top: 10%;
}
.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    line-height: 40px;
    color: #fff;
    text-align: center;
}

.copy-right {
    line-height: 1rem;
    margin-bottom: 1rem;
}

.contact-info {
    display: inline-flex;
    margin-bottom: 1rem;
}

.contact-info a:hover {
   color: #b64036;

}

.address {
    line-height: 1rem;
    margin-bottom: 1rem;
}

.footer-content a {
    color: #fff;
    text-decoration: underline;
}

.social-media {
    display: flex;
}

.social-media ul {

    display: flex;
    justify-content: center;
    width: 100%;
    

}

.social-media a:link {
    color: #fff;
}

.social-media a:active {
    color: #fff;
}

.social-media li {
    margin: 20px 5px
    }

    .social-media span {
        display: none;
        font-weight: normal;
    }
    .social-media a:hover {
        color:  #e2574c;
    }

/* ************  Media @ 600px configuration ****************************/

@media screen and (min-width: 600px) {
    html body {
        font-size: 1rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-style: normal;
    }

/* aloha-header for 600px*/

.aloha-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
}
.logo {
    flex-basis: 10%;
    align-self: flex-start;
    order:1;
}

.logo img {
    flex-basis: 30%;
    align-self: flex-start;
}
.cart-icon {
    align-items: flex-end;
    order:3;
}

.add-to-cart {
    position: absolute;
    right: 13px;
    top: 13px;
}

.add-to-cart button {
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.aloha-nav {
    flex-basis: 100%;
    text-align: center;
    justify-content: space-evenly;
    max-width: 350px;
    order:2;
}
.aloha-nav li {
    display: inline-block;
    font-size: 1rem;
    margin: 0 7px;
}

.aloha-nav ul {
    border-top: none;
    padding-top: 0;

}


 /*   Aloha Banner for 600px  */

 .aloha-banner {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 410px;
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
    url("images/banner-girl.png")no-repeat center 45px,
    url("images/flower-bkgd.jpg")repeat-x center top;
    background-size: cover, contain, cover;
}

.new-collection {
    color:#fff;
    font-size: 1.5 rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
}
.season {
    color:#fff;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Category Session for 600px */

.pro-categories {
    width:100%;
    display: flex;
    flex-wrap: wrap;
}

.mens {
    height: 150px;
    width: 50vw;
    flex-basis: 50%;
}

.mens a {
    color:#fff;
    font-weight: bold;
}
.mens-text:hover {
    color:#f5ebc6;
}

.trendsglasses ul {
    display: flex;
}

.trends {
    height: 150px;
    width:25vw;
    flex-basis: 25%;
}

.trends a {
    color:#fff;
    font-weight: bold;
}
.trends-text:hover {
    color:#f5ebc6;

}

.glasses {
    height: 150px;
    width:25vw;
    flex-basis: 25%;
}

.glasses a {
    color:#fff;
    font-weight: bold;
}
.glasses-text:hover {
    color:#f5ebc6;

}

.salebags {
    display: flex;
}

.sale {
    height: 150px;
    width:25vw;
    flex-basis: 25%;

}

.sale a {
    color:#fff;
    font-weight: bold;
}
.sale-text:hover {
    color:#f5ebc6

}

.bags {
    height: 150px;
    width:25vw;
    flex-basis: 25%;
}

.bags a {
    color:#fff;
    font-weight: bold;
}
.bags-text:hover {
    color:#f5ebc6

}

.women {
    height: 150px;
    width: 50vw;
    flex-basis: 50%;
}

.women a {
    color:#fff;
    font-weight: bold;
}
.women-text:hover {
    color:#f5ebc6

}



/*  Feature Product for 600px  */

.carousel-cell {
    width: 50%;
  }

  .carousel-cell img {
      max-width: 200px;
  }

/*  aloha sign-up session for 600px */

.aloha-subscribe {
    height: 100%;
    width: 100%;
    background-color:#fff;
    border-radius: 27px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60vw;
    margin: 40px auto;
}

/* Page Footer for 600px */

.site-footer {
    margin-top: 4px;
    display: flex;
    padding-top: 8%;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;


}
.footer-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    line-height: 30px;
    padding-left: 10px;
    color: #fff;
    width: auto;
    text-align: left;
    margin-top: 15px;

}

.footer-content a {
    color: #fff;
    text-decoration: underline;
}

.social-media {
    display: flex;
}

.social-media ul {

    display: flex;
    width: auto;
    flex-direction: column;
    color: #969696;
    width: auto;
    margin-left: 0 auto;

}
.social-media li {
    margin: 10px 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    margin-bottom: 1px

    }

    .social-media span {
        display: inline-block;
    }

.social-media a:hover {
    color:  #e2574c;
}
}

/* ************  Media @ 750px configuration ****************************/

@media screen and (min-width: 750px) {


/*  aloha sign-up session for 750px */

.aloha-subscribe {
    max-width: 50vw;
}

/* ************  Media @ 1024px configuration ****************************/

@media screen and (min-width: 1024px) {


    /*  aloha sign-up session for 1024px */
    
    .aloha-subscribe {
        max-width: 40vw;
    }


/* ************  Media @ 1240px configuration ****************************/

@media screen and (min-width: 1240px) {

 /* Aloha Header for 1240px */

 .aloha-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    flex-basis: 19%;
    align-self: flex-start;
}

.logo img {
    flex-basis: 50%;
    max-width: 150px;
    align-self: flex-start;
}

.cart-icon {
    align-items: flex-end;
}

.cart-icon img {
    max-width: 65px;
}

.add-to-cart button {
    background-color: #e2574c;
    color: #fff;
    text-decoration: none;
    outline: none;
    order:4;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
}
.add-to-cart {
    position: absolute;
    right: 20px;
    top: 18px;
}

.aloha-nav {
    flex-basis: 100%;
    text-align: center;
    justify-content: space-evenly;
    max-width: 560px;
    }

.aloha-nav li {
    display: inline-block;
    font-size: 1rem;
    margin: 0 7px;
}

.aloha-nav ul {
    border-top: none;

}
/*   Aloha Banner for 1240px */

.aloha-banner {
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
    url("images/banner-girl.png")no-repeat center 90px,
    url("images/flower-bkgd.jpg")repeat-x center top;
    background-size: cover, contain, cover;
    height: 600px;
}

.new-collection {
    color:#fff;
    font-size: 1.3rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
}
.season {
    color:#fff;
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* aloha about session for 1240px */

.aloha-about {
    padding: 60px 300px;
}

h2 { font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-style: italic;
    
}
span { font-weight: bold;
        font-style: normal;
        margin: 0 15px;
}

.about-header {
    margin: 0;
}

.about-body {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2;
    font-size: 1.1rem;
    font-weight: normal;
    margin-top: 1.7rem;
}  

/* Category Session for 1240px */

.mens {
    height: 300px;
}
.mens a {
    font-weight: normal;
    font-size:2.5rem;
}

.trends {
    height: 300px;
}

.trends a {
    font-weight: normal;
    font-size:2.5rem;
}

.glasses {
    height: 300px;
}

.glasses a {
    font-weight: normal;
    font-size:2.5rem;
}

.sale {
    height: 300px;
}

.sale a {
    font-weight: normal;
    font-size:2.5rem;
}

.bags {
    height: 300px;
}

.bags a {
    font-weight: normal;
    font-size:2.5rem;
}

.women {
    height: 300px;
}

.women a {
    font-weight: normal;
    font-size:2.5rem;
}

/*  Feature Product for 1240px  */

.carousel-cell {
    width: 25%;
  }

  .carousel-cell img {
      max-width: 230px;
  }

/*  aloha sign-up session for 1240px */

.aloha-subscribe {
    width: 30vw;
}

.sign-up-body {
    width:700px;
}
/* Page Footer for 1240px */

.site-footer {
    padding: 5% 5%;
}

}