
/* Typography */
html body {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;

}

h1 h2 h3 {
    font-family: 'Playfair Display', serif;
}

/*  Color */

html body {
    color: #2d2d2d;
}

h1 h2 h3 h4 h5 h6 {
    color: #e2574c;
}

a:link {
    color: #e2574c;
    text-decoration: none;
}

footer  {
    background-color: #242424;
    color: #969696;
}

/* .aloha-sign-up {
    color: #969696;
}


/* aloha-header

.aloha-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px;
}
.logo {
    flex-basis: 19%;
    align-self: flex-start;
}

.logo img {
    flex-basis: 50%;
    max-width: 210px;
    align-self: flex-start;
}
.cart-icon {
    align-items: flex-end;
}

.cart-icon img {
    max-width: 120px;
}

.aloha-nav {
    flex-basis: 100%;
    text-align: center;
    justify-content: space-evenly;
}
.aloha-nav li {
    display: inline-block;
    font-size: 1.875rem;
    margin: 0 15px;

}

/* aloha-banner */
.container {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items; center;
}
.container-small {
    width: 720px;
    margin: 0 auto;
}

.aloha-banner {
    display: flex;
    align-items: center;
    text-align: center;
    height: 700px;
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
    url("images/banner-girl.png")no-repeat center 4.375rem,
    url("images/flower-bkgd.jpg")repeat-x center top;
    background-size: cover, contain, cover;
}
.new-collection {
    color:white;
    font-size: 1.56rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
}
.season {
    color:white;
    font-size: 3.75rem;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* aloha about session */

.aloha-about {
    text-align: center;
    padding: 60px;
}

h2 { font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-style: italic;
    
}

span { font-weight: bold;
        font-style: normal;
        margin: 0 15px;
}

.about-header {
    margin: 0;
}

.about-body {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2;
    margin-top: 2rem;
}

/*  aloha sign-up session */
/* 
.aloha-sign-up {
    height: 430px;
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
    url("images/wave-bkgd.jpg") no-repeat bottom;
    background-size: 1024px 1500px cover, contain;
    background-position: bottom;
    color:white;
}

.sign-up-div {
    padding: 100px;
    margin: 0 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 { font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-style: italic;
    
}

.sign-up-header {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.sign-up-body {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 2;
    font-size: 1.25rem;
}

.aloha-subscribe {
    display: flex;
    justify-content:
    align-items: center;
    
   
}

.email {
    /* margin: 10px;
    font-size: 1.25rem;
    padding: 10px;
    width: 71%;
    border-radius: 27px;
    border: none;
    position: relative;
    outline: none;

    
}

.subscribebtn {
    background-color: #e2574c;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    margin: 0 100px 0 0;
    border-radius: 27px;
    opacity: 0.9;
    outline: none;
    
  }
  
  .subscribebtn:hover {
    opacity:1;
    background-color: #b64036;
    color: white;
    text-decoration: none;

  }

/* Aloha Footer session 

.site-footer {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    padding: 50px 160px;
}
.social-media li {
    margin: 20px 0;

} */ 

@media screen and (max-width: 480px) {
    
    /* Aloha Header for 480px */

    .aloha-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        padding: 15px;
    }
    .logo {
        flex-basis: 19%;
        align-self: flex-start;
    }
    
    .logo img {
        flex-basis: 50%;
        max-width: 8.37rem;
        align-self: flex-start;
    }
    .cart-icon {
        align-items: flex-end;
    }
    
    .cart-icon img {
        max-width: 3.37rem;
    }
    
    .aloha-nav {
        flex-basis: 100%;
        text-align: center;
        justify-content: space-evenly;
        
    }
    .aloha-nav li {
        display: inline-block;
        font-size: 1rem;
        margin: 0 0.93rem;
    
    }
    .aloha-nav ul {
        border-top: .025rem;
        border-color: lightgrey;
        border-style: solid;
        padding-top: .3rem;
    
    }
    /*   Aloha Banner   */

    .aloha-banner {
        display: flex;
        align-items: center;
        text-align: center;
        height: 410px;
        background: 
        linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
        url("images/banner-girl.png")no-repeat center 45px,
        url("images/flower-bkgd.jpg")repeat-x center top;
        background-size: cover, contain, cover;
    }
    .new-collection {
        color:white;
        font-size: 1rem;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 25px;
    }
    .season {
        color:white;
        font-size: 2.25rem;
        font-family: 'Playfair Display', serif;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* aloha about session */

.aloha-about {
    text-align: center;
    padding: 60px;
}

h2 { font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-style: italic;
    
}

span { font-weight: bold;
        font-style: normal;
        margin: 0 15px;
}

.about-header {
    margin: 0;
}

.about-body {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2;
    margin-top: 1.7rem;
}


/* Category Session */

.products {
    display: flex;
    /* align-items: center; */
    flex-direction: row;

}

.pro-categories {
    width:100%
}

.mens {
    height: 250px;
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
    url("images/mens-category.jpg") no-repeat;
    background-size: cover;
    flex-basis: 100%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.mens a {
    color:white;
    font-weight: bold;
}
.mens-text:hover {
    color:goldenrod
}

.trendsglasses ul {
    display: flex;
}

.trends {
    height: 250px;
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
    url("images/trends-category.jpg") no-repeat;
    background-size: cover;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;

}

.trends a {
    color:white;
    font-weight: bold;
}
.trends-text:hover {
    color:goldenrod

}

.glasses {
    height: 250px;
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
    url("images/glasses-category.jpg") no-repeat;
    background-size: cover;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.glasses a {
    color:white;
    font-weight: bold;
}
.glasses-text:hover {
    color:goldenrod

}

.salebags {
    display: flex;
}

.sale {
    height: 250px;
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
    url("images/sale-category.jpg") no-repeat;
    background-size: cover;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;

}

.sale a {
    color:white;
    font-weight: bold;
}
.sale-text:hover {
    color:goldenrod

}

.bags {
    height: 250px;
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
    url("images/bags-category.jpg") no-repeat;
    background-size: cover;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.bags a {
    color:white;
    font-weight: bold;
}
.bags-text:hover {
    color:goldenrod

}

.women {
    height: 250px;
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
    url("images/womens-category.jpg") no-repeat;
    background-size: cover;
    flex-basis: 100%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.women a {
    color:white;
    font-weight: bold;
}
.women-text:hover {
    color:goldenrod

}

.loved-product {
    text-align: center;
    padding: 60px;
}

/* .loved-product h2 { font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-style: italic;
    
}

.loved-product span { font-weight: bold;
        font-style: normal;
        margin: 0 15px;
} */


/*  Feature Product  */

.carousel-cell {
    width: 100%;
    text-align: center;
  }

.feature-image {

    width:100%;
    display:flex;
    justify-content: center;
}

.description {
    text-align: center;

}

/*  aloha sign-up session */

.aloha-sign-up {
    height: 430px;
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,  rgba(0,0,0,0.3) 100%),
    url("images/wave-bkgd.jpg") no-repeat bottom;
    background-size: 100px cover, contain;
    background-position: bottom;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.sign-up-div {
    padding: 5%;
    margin: 5%;
}

h2 { font-family: 'Playfair Display', serif;
    font-size: 2.2rem;
    font-style: italic;
    
}

.sign-up-header {
    margin: 10px;
    text-align: center;
}

.sign-up-body {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 2;
    font-size: 1.15rem;
    margin-top: 10px;
}

.aloha-subscribe {
    height: 100%;
    width: 100%;
    background-color:#fff;
    border-radius: 27px;
    margin-top: 30px;

   
}

.form-subscribe {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.email {
    font-size: 1rem;
    padding-left: 10px;
    border-radius: 27px;
    border:none;
    outline: none;
    border: none;
    display:flex;
    align-items: flex-start;
    flex-basis: 70%;
    
}

.subscribebtn {
    background-color: #e2574c;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    margin: 0 100px 0 0;
    border-radius: 27px;
    opacity: 0.9;
    outline: none;
    margin:3px;
    display: flex;
    flex-basis: 30%;
    
  }
  
  .subscribebtn:hover {
    opacity:1;
    background-color: #b64036;
    color: white;
    text-decoration: none;

  }

  .site-footer {
    margin-top: 4px;
    padding-top: 10%;
}
.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    line-height: 40px;
    color: white;
    text-align: center:
}

.social-media {
    display: flex;
}

.social-media ul {

    display: flex;
    justify-content: space-evenly;
    width: 100%;

}
.social-media li {
    margin: 20px 0;
    }
    .social-media span {

        display: none;
    }



/* 
@media screen and (min-width: 600px) {
    .aloha-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px;
}
.logo {
    flex-basis: 19%;
    align-self: flex-start;
}

.logo img {
    flex-basis: 50%;
    max-width: 210px;
    align-self: flex-start;
}
.cart-icon {
    align-items: flex-end;
}

.cart-icon img {
    max-width: 120px;
}

.aloha-nav {
    flex-basis: 100%;
    text-align: center;
    justify-content: space-evenly;
}
.aloha-nav li {
    display: inline-block;
    font-size: 30px;
    margin: 0 15px;

}
  }

  @media screen and (min-width: 1240px) {
    body {
      color: red;
    }
  } */